
<app-navbar></app-navbar>

<br><br><br>
<div  style=" display: flex;
    justify-content: center;
    align-items: center;">
    <img class="wave" src="../../../../assets/front/img/bac.png">

        <div style="display:inline-block; margin: auto; vertical-align:top;">

            <div class="content">
                <h2>Registration successful!</h2>
                <i class="far fa-check-circle"></i>
                <div class="btn-container">
                    <a href="login.html" class="btn-action">Login</a>
                </div>
            </div>
    </div>
    
    
    <div style="display:inline-block; margin: auto; vertical-align:top;">
        <div class="img">
            <img src="../../../../assets/front/img/computer_display.svg">
        </div>  
    </div>
</div>

    <app-footer></app-footer>


    <!-- Back to Top -->



