



   <app-navbar></app-navbar>


    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Suggestion</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align:center" colspan="3">Purchase Order</th>
                          </tr>
                      </thead>
                      
                  
                      <tbody class="align-middle">
                        <tr>
                          <td class="align-middle">Product Name</td>
                          <td class="align-middle">Quantity</td>
                          <td class="align-middle">Description</td>
                        </tr>
                        <tr>
                          <td colspan="3" class="align-middle">
                            <form>
                              
                              <input type="text" id="dure" placeholder="Dure" name="dure"><br><br>
                              <input type="text" id="price" placeholder="Price"  name="price" ><br><br>
                              <input type="text" id="statue" placeholder="Statue" name="Statue" ><br><br>
                              <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                                    </button>
                            </div>
                            </form>
                          </td>
                        </tr>
                      </tbody>


                      
                      
                      
                </table>

                
            </div>
            
        </div>
    </div>
    <!-- Cart End -->


   <app-footer></app-footer>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


   
