
<app-navbar></app-navbar>

<br><br><br>
<div  style=" display: flex;
    justify-content: center;
    align-items: center;">
    <img class="wave" src="../../../../assets/front/img/bac.png">

        <div style="display:inline-block; margin: auto; vertical-align:top;">

            <form action="login.html">
                <h2>Login</h2>
                <p>Welcome back !
                </p>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-key"></i>
                    </div>
                    <div>
                        <h5>password</h5>
                        <input class="input" type="password">
                    </div>
                </div>
                <input type="submit" class="btn" value="Login">
                <a class="forgot" href="forgotPassword.html">Forgot your password ?</a>
                <div class="others">
                    <hr>
                    <p>OU</p>
                    <hr>
                </div>
                <div class="social">
                    <div class="social-icons facebook">
                        <a href="#"><img src="../../../../assets/front/img/facebook.png">Log in with Facebook</a>
                    </div>
                    <div class="social-icons google">
                        <a href="#"><img src="../../../../assets/front/img/google.png">Sign in with Google</a>
                    </div>
                </div>
                <div class="account">
                    <p>Don't have an account yet?</p>
                    <a href="register.html">Register</a>
                </div>
            </form>
    </div>
    
    
    <div style="display:inline-block; margin: auto; vertical-align:top;">
        <div class="img">
            <img src="../../../../assets/front/img/authentication.svg">
        </div>
    </div>
</div>

    <app-footer></app-footer>


    <!-- Back to Top -->



