
    


    <app-navbar></app-navbar>

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Order history</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Order Ref</th>
                            <th>Order Date</th>
                            <th>State</th>
                            <th>Total</th>
                      
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td>Fthdjkd8984</td>
                            <td class="align-middle">2022-05-02</td>
                            <td class="align-middle">
                             canceled
                            </td>
                            <td class="align-middle">150DT</td>
                           
                        </tr>
                        <tr>
                            <td>Fffkjkjzid84</td>
                            <td class="align-middle">2022-07-11</td>
                            <td class="align-middle">
                             done
                            </td>
                            <td class="align-middle">100DT</td>
                           
                        </tr>
                        <tr>
                            <td>Ftopdshj751</td>
                            <td class="align-middle">2023-02-09</td>
                            <td class="align-middle">
                             done
                            </td>
                            <td class="align-middle">80DT</td>
                           
                        </tr>
                      
                    
                    </tbody>
                </table>
            </div>
        
        </div>
    </div>
    <!-- Cart End -->


    <app-footer></app-footer>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    
