<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            
            
            <a class="nav-link collapsed" routerLink="/Users" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Users
            </a>
            <a class="nav-link collapsed" routerLink="" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Products
            </a>
            <a class="nav-link collapsed" routerLink="/ClaimB" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Claims
            </a>
            <a class="nav-link collapsed" routerLink="/DeliveryB" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Delivery
            </a>
            <a class="nav-link collapsed" routerLink="/Discount" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Discount
            </a>
            <a class="nav-link collapsed" routerLink="/PurchaseB" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Purchase
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Rely Points
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                    <a class="nav-link collapsed" routerLink="/RelyB" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        Manage Rely points

                    </a>
                    <a class="nav-link collapsed" routerLink="/RelyS" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        Rely points Statistics

                    </a>
                   
                   
                    
                </nav>
            </div>
           
            <a class="nav-link collapsed" routerLink="/DeliveryB" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                
                Delivery
            </a>
            
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in </div>
    </div>
</nav>
